body,html {
    height: 100%;
    margin: 0;
}
.bg{

    background-image: url("/img/kemunto.jpg"); 
    height: 100%;
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        
/*        no-repeat center center fixed;*/


/*
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    background-size: cover;
*/

}

#cen{
    margin-top: 20%;
    margin-left: -10%;
    font-size: 8vw;
    line-height: 8vh;
    color: white;
    
/*    border: 5px solid red;*/
}
#kemu{
    font-size: 1.2vw;
    line-height: 1vh;
    margin-left: 17vw;
   
}

#en{
    margin-top: 18vh;
    color: white;
}

.box{
    width: 60%;
    height: 38vh;
    border: 13px solid red;
    position: relative;
    margin-top: -27vh;
    margin-left: 7vw;
    
    
}



/*
.container{
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
   align-items: flex-start;
}
.row{
    align-self:center;
    position: relative;
    top: 250px;
    right: 120px;
   color: white;
    font-family: 'Playfair Display', serif;
    
}
.box{
    
    bottom: 50px;
    width: 230px;
    height: 370px;
    border: 15px solid red;
    align-self: center;
    position: relative;
    left: 350px;
   
}
h1{
    font-size: 13vw;
}
p{
    margin-left: 300px;
    position: relative;
    bottom: 35px;
}*/
