body,html{
    height: 100%;
}

#cen{
    margin-top: 40vh;
    margin-right: 40vw;
}
#en{
    margin-top: 18vh;
}

/*
.container{
    height: 100%;
}
body{
    height: 100%;
    background: url("/img/ivan-dodig-514111.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
   align-items: flex-start;
}
.row{
    align-self:center;
    position: relative;
    top: 250px;
    right: 120px;
   color: white;
    font-family: 'Playfair Display', serif;
    
}
.box{
    
    bottom: 50px;
    width: 230px;
    height: 370px;
    border: 15px solid red;
    align-self: center;
    position: relative;
    left: 350px;
   
}
h1{
    font-size: 13vw;
}
p{
    margin-left: 300px;
    position: relative;
    bottom: 35px;
}*/
